* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100vh;
    min-width: 375px;
    padding: 38px 28px;
}

header {
    padding: 38px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 1px solid chartreuse;

}

main {
    display: block;
    padding: 38px 28px;
    border-radius: 15px;
    border: 1px solid chartreuse;
    margin: 28px 0px;


}

form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-start;
    max-width: 262px;

}
fieldset {
    padding: 15px 5px;
}

.addInput {
    display: flex;
    gap: 1px;
    align-items: center;

}

.addSchool, .addJob {
    width: 100px;
}

.addYear {
    width: 45px;
}

.addBtn {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-left: 10px;

}

.addBtn:hover {
    font-size: 1.5rem;
}


.personalInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (min-width: 801px) {
    main {
        display: flex;
        gap: 28px;
    }


    .cv-preview-container {
        flex: auto;
    }
}
