@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #212121;
  --main-text: #999;
  --green: chartreuse;
  --box-shadow: 15px 15px 30px rgb(25, 25, 25), -0px -0px 25px rgb(60, 60, 60);
}

body {
  margin: 0 auto;
  height: 100vh;
  min-width: 375px;
  padding: 38px 28px;
  background-color: var(--background);
  color: #999;
  font-family: "Open Sans", sans-serif;
}

.header {
  padding: 38px 28px;
  display: flex;
  color: var(--green);
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

h1,
h2,
h3,
legend {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

main {
  display: block;
  border-radius: 15px;
  margin: 28px 0px;
}

form {
  padding: 38px 7px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}
.inputGroup {
  position: relative;
}
.input {
  font-size: 16px;
  padding: 5px;
  display: block;
  min-width: 250px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  margin-top: 20px;
  color: var(--main-text);
}

.input:focus {
  outline: none;
}

label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ label {
  top: -11px;
  font-size: 14px;
  color: var(--green);
}

.bar {
  position: relative;
  display: block;
  min-width: 200px;
}

.bar::before,
.bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--green);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}
.input:not(:placeholder-shown) ~ label {
  top: -11px;
  font-size: 14px;
  color: var(--green);
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: var(--green);
  }
  to {
    width: 0;
    background: transparent;
  }
}

fieldset {
  padding: 15px 5px;
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid var(--main-text);
}

legend {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 10px 0px;
}

li {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.addInput {
  display: flex;
  gap: 5px;
  align-items: center;
}

.addSchool,
.addJob {
  max-width: 130px;
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
  background: none;
  border: none;
  outline: none;
}

.addYear {
  max-width: 55px;
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
  background: none;
  border: none;
  outline: none;
}

.addYear[type="number"]::-webkit-outer-spin-button,
.addYear[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addYear[type="number"] {
  -moz-appearance: textfield;
}

.addSchool:focus,
.addJob:focus,
.addYear:focus {
  border: 1px solid var(--green);
}

.addBtn {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  line-height: 25px;
  text-align: center;
  margin-left: auto;
  background-color: var(--green);
}

.xBtn {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: red;
  font-size: 10px;
  padding: 3px;
}

.generate {
  border-radius: 20px;
  padding: 10px;
  background-color: var(--green);
  box-shadow: var(--box-shadow);
}

.xBtn:hover {
  font-size: 0.5rem;
}

.addBtn:hover {
  font-size: 1.5rem;
}

.cv-preview-container {
  border-radius: 30px;
  border: 1px solid var(--green);
  padding: 38px 7px;
}

.cv-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 15px;
}

.cv-buttons button {
  border-radius: 20px;
  padding: 10px;
  background-color: var(--main-text);
  border-color: var(--background);
}

.edit-button:hover {
  background-color: var(--green);
}

.pdf-button:hover {
  background-color: var(--green);
}
.cv-preview {
  font-family: "Open Sans", sans-serif !important;
  width: 100%;
  max-width: 600px;
  min-width: 280px;
  aspect-ratio: 210 / 297;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: black;
  position: relative;
}

.cv-preview h1,
.cv-preview h2,
.cv-preview h3 {
  font-family: "Open Sans", sans-serif;
}
.cv-preview h1 {
  font-size: 24px;
}

.cv-preview h2 {
  font-size: 20px;
}

.cv-preview h3 {
  font-size: 16px;
}

.cv-preview p {
  font-size: 14px;
}

.cv-entry {
  display: flex;
  justify-content: space-between;
  min-width: 260px;
}
section.cv-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
@media (min-width: 801px) {
  main {
    display: flex;
    gap: 28px;
  }

  .cv-preview-container {
    flex: auto;
  }
}

@media print {
  .cv-buttons {
    display: none !important;
  }
}
